@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {    
    --ff-primary: 'Montserrat', sans-serif;
    
    --clr-light: beige;
    --clr-dark: brown;
    --clr-accent: maroon;
    --clr-chessable: #034fdf;
    --clr-white: #fff;
    
      --fs-h1: 40px;
      --fs-h2: 28px;
      --fs-body: 1rem;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body{
    font-family: var(--ff-primary);
    color: var(--clr-chessable); 
    font-size: var(--fs-body);
  }

  h1{
    font-size: var(--fs-h1);
    margin-top: 30px;
  }

  h2{
    font-size: var(--fs-h2);
    margin-top: 30px;
  }

  .main{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

/* BUTTONS */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.color-button {
  display: flex;
  justify-content: center;
   padding: 1em 2em;
  border-radius: 1em;
  transform-style: preserve-3d;
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
   width: 120px;
   margin: 10px;
}

.btn{  
    padding: 11px 14px;
    border: 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.primary{
  background-color: var(--clr-chessable);
  color: var(--clr-white);
}

@media screen and (min-width: 400px){

  .btn{
    margin: 10px;
    font-size: 16px;
  } 

}

@media screen and (min-width: 870px){

  .color-button {
    display: flex;
    justify-content: center;
     padding: 1em 2em;
    border-radius: 1em;
    transform-style: preserve-3d;
     transition: all 175ms cubic-bezier(0, 0, 1, 1);
     width: 50%;
     margin: 10px;
  }

  
}

